/** 
* Personal Website V2
* CSS
* @author Brandon Mok
*/

*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;  
    scroll-behavior: smooth;
}

a, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}


.container{
    padding: 0;
    margin: 0 auto;
}

/** logo */
.logo{
    background-image: url("../images/logo.png");
}
.logo{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 4em;
    width: 4em;
    margin-left: 4.5em;
    margin-top: .3em;
}



/* Heading */
.heading{
    font-size: 3rem;
    padding: .5em .5em .5em 0; 
    font-weight: 600;
    font-family: 'Noto Sans TC', sans-serif;
}

.textCenter{
    text-align: center;
}

/** Scrollbar feature from w3schools */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #808080;
}
::-webkit-scrollbar-thumb{
    background-color: #222222;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #333333;
}



/** Navigation */
.navigation {
    display: inline;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 59px;
    transition: 0.3s all;
    z-index: 100;
}

ul{
    float: right;
}
div ul li{
    display: inline-block;
    list-style-type: none;
    padding: 1.3em;
    font-size: 1.05rem;;
}
/* Original Nav link color */
.firstNav li a{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}


/** Landing image on homepage */
.landingImage{
    background-image: url(../images/homepage.jpg); /* creator/author: aj garcia from Unsplash. Unsplash provides royalty free images */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    animation: fadein 1.5s;
}
/** Text on homepage image */
.imageText {
    font-weight: 600;
    font-size: 3.5rem;
    top: 40%;
    left: 50%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    background: transparent;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
/* Container to hold boxes for Github and Resume */
.landingImage-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.landingImage-boxes {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    padding: .75em;
    margin: 1em .5em;
    border: 3px solid white;
}
.landingImage-boxes:hover {
    font-weight: bold;
    border: 3px solid #222222;
    color: #222222;
}



/** About */
.about-container {
    display: flex;
    padding: 3em 0;
    margin: 2em;
    flex-direction: row;
}
/* Container for about content - description s*/
.aboutContent{
    flex: 1 1 50%;
    margin: 0 2em;
}
.aboutContent p.heading{
    text-align: center;
}
div .aboutContent p{
    padding: .5em;
}
/* Div w/ profile picture */
.profile-IMG-container{
    flex: 1 1 50%;
    z-index: 2em;
    height: 25em;
}
#profile-IMG-div {
    float: left;
    position: relative;
    left: 50%;
}
#profile-IMG {
    float: left;
    position: relative;
    left: -50%;
}



/** Projects */
.projects{
    padding: 1.5em 0;
    margin: 2em 2em 6em 2em;
    background-color: #f7f7f7;
}
.tilesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3em;
}
.aTile{ /* each individual tile */
    flex: 1 1 30%;
    margin: .5em;
    padding: 1.25em 0;
    text-align: center;
    border: 3px solid #222222;
    font-size: 1.25rem;
    font-weight: bold;
}
#tile-repo {
    padding: .75em;
}
.visit-repo-text {
    padding: 1em;
    font-size: 1.15rem;
    font-weight: bold;
}
.visit-repo-text:hover {
    font-weight: bold;
}

    


/** Contact - Form */
/* #contact-container{
    text-align: center;
    justify-content: center;
    margin: 2em;
    margin-bottom: 6em;
}
form input, form textarea{
    display: block;
    width: 30em;
    padding: 1.5em;
    margin-bottom: 1em;
    border: 2px solid #222222;
}
form textarea{
    height: 4em;
    margin-bottom: 2em;
}
#submitBtn{
    width: 20em;
    color: white;
    background-color: rgb(87, 95, 107);
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid #222222;
}
#submitBtn:hover{
    cursor: pointer;
    border: 3px solid #3d3d3d;
    color: #222222;
} */



/** Footer */
footer{
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    bottom: 0;
}

.resumeBtn{ 
    display: inline-block;
    border: 2px #555555 solid;
    background-color: #f7f7f7;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
}
.resumeBtn:hover{
    border: 2px solid #222222;
    font-weight: bold;
}




/** Social media Icons */
.social-container { 
    margin-top: 1em;
}
.socialIcons{
    margin: 1.25em .75em .75em .75em;
}
#linkedin, #github, #resume{
    font-size: 2.5em;
}
#linkedin:hover{
    color: #0077B5;
}
#github:hover{
    color: #222222;
}
#resume:hover {
    color: #222222;
}
.copyright{
    font-weight: 600;
    padding-bottom: 2em;
}




/** Responsive nav bar */
/* Changes original to hamburger menu for viewports */
#hamburger{
    display: none;
    position: relative;
    left: 2em;
    font-size: 1.25em;
    cursor: pointer;
    color: black;
}
/** Close button in the 2nd menu */
.closebtn{
    display:none; 
    font-size: 4em;
    float: right;
}



/** After clicking hamburger */
.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: white;
}
/* links inside overlay */
.overlay-content{
    position: absolute;
    display: block;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
/* Over lay links */
.overlay-content ul li a{
    display: block;
    font-size: 38px;
    text-align: center;
    float: right;
    padding: 8px;
    color: #808080;
    transition: 0.3s;
}



/** Fade */
@keyframes fadein {  
    from { opacity: 0; }
    to   { opacity: 1; }
}


/** Media Queries */
@media screen and (max-width: 900px){
    /* Don't show profile image */
    .profile-IMG-container{
        display: none;
    } 
    .heading {
        margin-top: 1.5em;
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 800px){
    .tilesContainer{
        margin: 0;
    }
    .aTile{
        flex: 1 1 100%;
    }
}
@media screen and (max-width: 700px){
    /** Hide the original navigation */
    .firstNav{
        display: none;
    }
    /** Display responsive navigation bar */
    #hamburger{
        display: inline-block;
        position: absolute;
        top: 2em;
    }
    .closebtn{
        display: inline-block;
        position: relative;  
    }

    /* Change padding on the landingimage boxes */
    .landingImage-boxes {
        padding: .5em;
    }
    .imageText {
        font-size: 2.5rem;
    }

    .aboutContent {
        margin: .25em;
    }
}
@media screen and (max-width: 600px){
    /* About section - changing sizes */
    .about{
        padding: 0;
        margin: 0;
    }
    .aboutContent p{
        margin: 0 1em;
        text-align: left;
    }
    .aboutContent p.heading{
        text-align: center;
    }

    /* Project section */
    .projects{
        margin: 0;
        padding: 0;
    }


    /** Contact form styling */
    /* #contact-container{
        margin: 0;
        margin-bottom: 5em;
    }
    form input, form textarea{
        width: 15em;
        padding: 1em;
    }
    #submitBtn{
        font-size: .8rem;
        width: 12em;
    } */
}

