/** 
* Personal Website V2
* CSS
* @author Brandon Mok
*/

*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;  
    font-size: 12pt;
    scroll-behavior: smooth;
}

/* Container */
.container{
    padding: 0;
    margin: 0 auto;
}

/* Logo */
.logo{
    display: inline-block;
    padding: .25em 0 0 5em;
    height: 70px; /* Specify a height because scaling loses quality */
}


/* Heading */
.heading{
    font-size: 3em;
    padding: .5em .5em .5em 0; 
    font-weight: 600;
}

.textCenter{
    text-align: center;
}

/** Scrollbar feature from w3schools */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #E8E8E8;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
}




/** Navigation */
.navigation{
    display: inline;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    min-height: 59px;
    z-index: 10; 
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}

div ul{
    float: right;
}

ul li{
    display: inline-block;
    padding: 1.25em;
    font-size: 14pt;
    list-style-type: none;
}




/** Background image for div */
.backImage{
    background-image: url(../images/homepage.jpg); /* @author unsplash , royalty free */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    margin-top: 1.5em;
    animation: fadein 2.25s;
}

.imageText{
    color:white;
    font-weight: 600;
    font-size: 100px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%); /* slides it over */
}




/** About */
.about{
    display: flex;
    padding: 4em 0;
    margin: 3em;
}

.aboutContent{
    text-align: center;
    flex: 1 1 50%;
}

.profileIMG{
    flex: 1 1 50%;
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    z-index: 2em;
    margin-left: 12em; 
    padding-bottom: 22em;
}

div .aboutContent p{
    padding: .5em;
}




/** Projects */
.projects{
    margin-bottom: 4em; 
    padding: 2em 0;
    background-color: #f7f7f7;
}

.tilesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3em;
}

.aTile{ /* each individual tile */
    flex: 1 1 30%;
    padding: 3em 0;
    text-align: center;
}


#tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7{
    font-weight: bold;
}

#tile1{
    background-color: #28b8f6;
}
div #tile1:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1);
    box-shadow: 6px 6px #0b98d5;
}
#tile2{
    background-color: #EF5D60;
}
div #tile2:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1);  
    box-shadow: 6px 6px #f75976;
}
#tile3{
    background-color: #8FF7A7;
}
div #tile3:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1);
    box-shadow: 6px 6px #46e26a;
}
#tile4{
    background-color: #FF9B42;
}
div #tile4:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1);
    box-shadow: 6px 6px #f98924 ;
}
#tile5{
    background-color: #FFED66;
}
div #tile5:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1); 
    box-shadow: 6px 6px #fee62f;
}
#tile6{
    background-color: #90D7FF;
}
#tile6:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1); 
    box-shadow: 6px 6px #49bcfd;
}
#tile7{
    background-color: #BAA5FF;
}
#tile7:hover{
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transform: scale(1.1); 
    box-shadow: 6px 6px #a286fd;
}







/** Contact */
.contact{ /** Contact section container */
    display: flex;
    padding-top: 3em;
    margin: 1em 3em 4em 3em;
}

.contactMe{ /** Content Div */
    flex: 1 1 50%;
}

.contactForm{ /** Form Div */
    flex: 1 1 50%;
    margin-left: 2em; /** Keep the div from touching right side */
}

form{ /** Actual Form */
    display: block;
    padding: 1em;
    padding-bottom: 3em;
    background-color: #F5F5F5;
    border-radius: 1.2em;
}

.formSpan{
    display: block;
}

input{ /** Textfields */
    display: inline-block;
    padding-bottom: .25em;
    margin-bottom: 1em;
}

input[type=submit]{
    display: block;
    position: absolute;
    margin-top: .25em;
}





/** Footer */
footer{
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    bottom: 0;
}

.hiring{ /** Hiring header */
    font-size: 18pt;
    font-weight: 600;
    padding: .5em;
}

.footerText{
    padding-bottom: 1em;
}

.resumeBtn{ /** Resume Button */
    display: inline-block;
    border: #555555 solid;
    background-color: #f7f7f7;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
}

.resumeBtn:hover{
    font-size: 13pt;
    font-weight: bold;
}

.social{ /* Social container */
    padding: .5em;
}

.socialIcons{/** Social media Icons */
    padding: 0 1em 1em 0;
    width: 2em;
    height: 2em;
}

.copyright{
    font-weight: 600;
    padding-bottom: 2em;
}




/** Responsive nav bar */
/* Changes original to hamburger menu for viewports */
#hamburger{
    display: none;
    position: relative;
    left: 2em;
    font-size: 1.25em;
    cursor: pointer;
}

.closebtn{
    display:none; 
    font-size: 4em;
    float: right;
}

.myNav{
    display: block;
}

/** After clicking hamburger */
.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: white;
}

/* links inside overlay */
.overlay-content{
    position: absolute;
    float: right;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.overlay-content ul li a{
    display: block;
    font-size: 38px;
    text-align: center;
    padding: 8px;
    color: #808080;
    transition: 0.3s;
}




/** Styles for all projects in tiles */
/** Actual individual projects */
.project{
    display: flex;
    margin: 5em 2em 5em 2em; /* Push content down as nav is fixed */
}

.projectContent{ /** Information about project */
    flex: 1 1 50%;
}
.projectContent p{
    padding-bottom: .75em;
}

.showProject{ /** Slideshow container */
    /* flex: 1 1 50%; */
    margin: 1.5em;
    position: relative;
}

.mySlides{ /** Don't show all images initially */
    display: none;
}


.prev, .next{ /** Buttons */
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-size: 18px;
    transition: .5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}






/** Anchor tags */
a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}




/** Fade */
@keyframes fadein {  
    from { opacity: 0; }
    to   { opacity: 1; }
}



/** Media Queries */
@media screen and (max-width: 900px){
        /* Don't show profile image */
        .profileIMG{
            display: none;
        } 

        /* Don't show the slideshow */
        .showProject{
            display:none;
        }

        /** Contact from section */
        .contact{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .contactME{
            flex: 1 1 100%;
        }
        .contactForm{
            flex: 1 1 100%;
            margin: 0;
            margin-top: .75em;
        }
        textarea{
            width: 15em;
            height: 5em;
        }
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 700px){
    /** Hide the original navigation */
    .firstNav{
        display: none;
    }
    /** Display responsive navigation bar */
    #hamburger{
        display: inline-block;
        position: absolute;
        top: 2em;
    }
    .closebtn{
        display: inline-block;
        position: relative;  
    }
}
@media screen and (max-width: 600px){
}
@media screen and (max-width: 500px){
}

